.todo-container {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: 0 auto 1rem auto;
  border-bottom: 1px solid #cecdcdde;

  animation: aperture;
  animation-duration: 600ms;
  animation-timing-function: ease-out;

  & p {
    flex-grow: 1;
    font-size: clamp(1rem, 4vw, 1.2rem);
    text-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.todo-icons {
  max-width: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;

  & > :first-child,
  > :last-child {
    transition: color 0.6s ease-out;
  }

  & > :first-child:hover {
    color: #ffd740;
  }

  & > :last-child:hover {
    color: #ff8a65;
  }
}

.underline {
  text-decoration: line-through;
}

@keyframes aperture {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
