* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100%;
  min-height: 100vh;

  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}

.container-app {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  padding-top: 4rem;
  margin-bottom: 1rem;
}
