* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-width: 100%;
  min-height: 100vh;

  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  overflow-x: hidden;
}

.container-app {
  max-width: 800px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  padding-top: 4rem;
  margin-bottom: 1rem;
}
.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto 2rem auto;
}

@media (width < 420px) {
  .container-app {
    padding: 0 0.5rem;
  }
}
