:root {
    --color-light-gray: #f5f5f5;
}

html {
    font-family: var(--font-roboto);
}

body, main {
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(250, 250, 251);
}
.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.spacer {
    height: 64px; /* Adjust the spacer height as needed */
}

.tableContainer {
    flex: 1 1 auto;
    overflow-y: auto;
}

.title {
    margin-bottom: 16px;
}
  
.tableContainer table thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background: white;
}
   
.tableContainer {
    flex: 1 1 auto;
    overflow-y: auto;
}

.tableContainerFull {
    height: 100vh; /* O la altura deseada */
    display: flex;
    flex-direction: column;
}

.tableContainerFull table {
    flex: 1;
}
    
.tableHead th{
    border: 10px solid var(--color-light-gray);
}

.input {
    max-width: 300px;
}

.button {
    max-width: 100px;
}
  
.task-date-cell {
    height: 45px;
    min-width: 160px;
}

.task-actions {
    display: none;
}

.MuiTableRow-root:hover .task-actions {
    display: flex;
    justify-content: flex-end;
}

.MuiTableRow-root:hover .task-date {
    display: none;
}

.task-row {
    height: 48px;
    position: relative;
}

.task-cell {
    width: 100%;
}

.task-status-cell {
    min-width: 100px;
}

.task-date-cell {
    height: 45px;
    min-width: 160px;
    position: relative;
}

.task-actions {
    display: none;
    justify-content: flex-end;
}

.MuiTableRow-root:hover .task-actions {
    display: flex;
}

.MuiTableRow-root:hover .task-date {
    display: none;
}

.full-height-row {
    height: 100%;
}
  